h1 {
    front-size: 32px;
    text-allign: center;
    color:deeppink;
}

h2 {
    font-size: 24px;
    color:#e20f71;
}

a{
   color:rgb(219, 55, 55);
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    background-color:rgb(243, 140, 200)
    border-left: 4px solid #e20f71;
}

body{
    background-color: #ffafd4;

}
table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  table {
    border-collapse: separate; /* Garante que o border-spacing seja aplicado */
    border-spacing: 10px; /* Define o espaço entre as bordas das células */
  }
       
  


form{
    color: rgb(0, 0, 0);
}  
  .container {
     width: 400px;
     margin: 0 auto;
     padding: 20px;
     border-radius: 10px;
     background: linear-gradient(to right, #7919d3, #f5d6e5); 
 }

 label {
     font-weight: bold;
 }
 input[type="text"],
 input[type="number"],
 textarea {
     width: 100%;
     padding: 8px;
     margin: 6px 0;
     box-sizing: border-box;
 }
 input[type="submit"] {
     background-color: #ffade0;
     color: rgb(0, 0, 0);
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     border-radius: 5px;
 }

